<div id="uneaten">
{{#each burgers}}
    {{#unless this.devoured}}
        <form action="/eatBurger/{{this.id}}" method="POST">
            {{this.id}}. {{this.burger_name}} 
            <input type="submit" value="NOM">
        </form>
    {{/unless}}
{{/each}}    
</div>


<div id="eaten">
{{#each burgers}}
    {{#if this.devoured}}
        <div>{{id}}. {{burger_name}}</div>
    {{/if}}
{{/each}}    
</div>