<div id="uneaten">
{{#each burgers}}
    <form action="/eatBurger/{{this.id}}" method="POST">{{this.id}}. {{this.burger_name}} <input type="submit" value="NOM"></form>
{{/each}}    
</div>


<div id="eaten">
{{#each emptyBurgers}}
    <li>{{pet}}. {{burger_name}} <button>NOM this burger</button></li>
{{/each}}    
</div>