<article id="uneaten">
    <h3>Burger Wishlist</h3>
    {{#each burgers}}
        {{#unless this.devoured}}
            <form class="burgers" action="/eatBurger/{{this.id}}" method="POST">
                <span>{{this.id}}. {{this.burger_name}}</span> 
                <input type="submit" value="NOM">
            </form>
        {{/unless}}
    {{/each}}    
</article>


<article id="eaten">
    <h3>Burgers You've Tried</h3>
    {{#each burgers}}
        {{#if this.devoured}}
            <div>{{id}}. {{burger_name}}</div>
        {{/if}}
    {{/each}}    
</article>